<%= link_to 'Home', root_path %>

<h3>User Registrierung</h3>

<br>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |u| %>
    
      <p><%= u.label :email %><br />
        <%= u.email_field :email %></p>

      <p><%= u.label :password %><br />
        <%= u.password_field :password, :value => ""%></p>

      <p><%= u.label :password_confirmation %><br />
        <%= u.password_field :password_confirmation %></p>
      
      <p><%= label_tag :user_kind, 'Userart' %><%= radio_button("user", "user_kind", "federal_user") %>
         <%= radio_button("user", "user_kind", "regional_user") %></p>
      
      <br>
      <p><%= u.submit "Sign up" %></p>

  <% end %>
  