<%= link_to 'Home', root_path %>

<br />

<div id="main_notifier" style="display: none; font-size: 20px; font-weight:bold">
  <%= notice %>
  <%= alert %>
</div>

<br />

<div id="sign_in_form">
   <%= form_for("user", :url => new_user_session_path) do |f| %>
     <%= f.text_field :email, :placeholder => "e-mail" %><br />
     <%= f.password_field :password, :placeholder => "password" %><br />
     <%= f.submit 'Sign in', :class =>"float_right" %><br />
   <% end %>
</div>