<script type="text/javascript">

  $(document).ready(function() {
    
    $("#event_start_date").datepicker({ 'format': 'yyyy/mm/dd' });
    $("#event_end_date").datepicker({ 'format': 'yyyy/mm/dd' });
    
    $("#event_start_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    $("#event_end_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    
    
    function activateAutoSelectUpdate(array, main_id, sub_id){
      
      if(document.getElementById(main_id) && document.getElementById(sub_id)){
        document.getElementById(main_id).onchange = function(event){
                  
          for(var x=0; x < array.length; x++){
            if( array[x][event.currentTarget.value] ){
              
              var sub = array[x][event.currentTarget.value];
              document.getElementById(sub_id).innerHTML = '';
              
              for(var y=0; y < sub.length; y++){
                var opt = document.createElement('option');
                opt.setAttribute('value', sub[y]);
                opt.innerHTML = sub[y];
                  
                document.getElementById(sub_id).appendChild(opt);
              }
            }
          }
        };
      }
    }
    
    // auto-update venues
    var venues = <%= raw @venues.to_json %>
    activateAutoSelectUpdate(venues, 'event_province', 'event_city');
    
    // auto-update subcategories
    var sub_cats = <%= raw @event_cats.to_json %>
    activateAutoSelectUpdate(sub_cats, 'event_main_category', 'event_sub_category');
    
    
    // auto-update how often?
    document.getElementById('repeat_choice').onchange = function(event){
      document.getElementById('event_repeat_dates').value = event.currentTarget.value + ' ' +document.getElementById('repeat_counter').value;
    };
    
    document.getElementById('repeat_counter').onchange = function(event){
      document.getElementById('event_repeat_dates').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
    };
    
    document.getElementById('submitButton').onclick = function(event){
      
      var inputs = document.forms[0].children;
      for(var input=0; input < inputs.length; input++){
        
          for(var i=0; i < inputs[input].children.length; i++){
            
            if(inputs[input].children[i].name && inputs[input].children[i].name.search(/event/) == 0){
              
              if( (inputs[input].children[i].value.length == 0 && inputs[input].children[i].tagName != 'TEXTAREA') || (inputs[input].children[i].tagName == 'TEXTAREA' && CKEDITOR.instances['event_description'].getData().length == 0) ){
              
                if(inputs[input].children[i].id != 'event_sub_category' && inputs[input].children[i].id != 'event_city' && inputs[input].children[i].id != 'event_image_url' && inputs[input].children[i].id != 'event_image' && inputs[input].children[i].id != 'event_costs' && inputs[input].children[i].id != 'event_venue_url' && inputs[input].children[i].id != 'event_email' && inputs[input].children[i].id != 'event_tel_nr' && inputs[input].children[i].id != 'repeat_choice' && inputs[input].children[i].id != 'repeat_counter'){
                  alert('Achtung das Feld: ' + inputs[input].id + ' ist nicht ausgefüllt!')
                  return false;
                }
              }
            }
          }
        
      }
      
      document.forms[0].submit();
      
    };
    
    // unfortunattly rails 3.2.8 can not size an file-field
    $('#event_image').attr('size', 130);

  });
  
</script>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@event, :html => { :multipart => true }) do  |e| %>

<h3 style="color:red"><%= @event.errors.full_messages.to_sentence %></h3>

<p><p><%= label_tag :title, 'Titel' %></p>
<p id="Titel"><%= e.text_field :title, :size => '130' %></p></p>

<p>
<p>Bitte Marker an die gewünschte Position ziehen, um das Adressfeld auszufüllen</p>
<%= hidden_field_tag 'currentLocation', @location, :id => 'currentLocation' %>
<div id="address_map" style="height:350px; width:888px"></div>
<p><%= label_tag :address, 'Adresse' %></p>
<p id="Adresse"><%= e.text_field :address, :size => '130' %></p></p>


<p><p><%= label_tag :region, 'Region' %></p>
<p id="Region"><%= e.text_field :region, :size => '130' %></p></p>



<% if !@event.province.empty? && !@event.city.empty? %>
  <p><p><%= label_tag :province, 'Bundesland' %></p>
  <p id="Hauptkategorie"><%= text_field_tag :event, :province, { :value => @event.province, :disabled => true } %></p>
  
  <p><p><%= label_tag :city, 'Ort' %></p>
  <p id="Unterkategorie"><%= text_field_tag :event, :city, { :value => @event.city, :disabled => true } %></p>
  
<% else %>
  <p><p><%= label_tag :province, 'Bundesland' %></p>
  <p id="Bundesland"><%= select( "event", "province", @federal_countries.collect{ |k,v| [k,k] }, {}, :style => 'width:888px') %></p></p>

  <p><p><%= label_tag :city, 'Ort' %></p>
  <p id="Ort"><%= select( "event", "city", { 'Wähle Ort' => '' }, {}, :style => 'width:888px') %></p></p>
<% end %>



<p><p><%= label_tag :venue, 'Veranstaltungsort' %></p>
<p id="Veranstaltungsort"><%= e.text_field :venue, :size => '130' %></p></p>

<p><p><%= label_tag :venue_url, 'Website-Url (optional)' %></p>
<p id="Website-Url"><%= e.text_field :venue_url, :size => '130' %></p></p>

<p><p><%= label_tag :email, 'E-mail Adresse (optional)' %></p>
<%= e.text_field :email, :size => '130' %></p></p>

<p><%= label_tag :tel_nr, 'Tel. Nr. (optional)' %>
<p id="Tel. Nr."><%= e.text_field :tel_nr, :size => '130' %></p>


<% if !@event.main_category.empty? && !@event.sub_category.empty? %>
  <p><p><%= label_tag :main_category, 'Hauptkategorie' %></p>
  <p id="Hauptkategorie"><%= text_field_tag :event, :main_category, { :value => @event.main_category, :disabled => true } %></p>
  
  <p><p><%= label_tag :sub_category, 'Unterkategorie' %></p>
  <p id="Unterkategorie"><%= text_field_tag :event, :sub_category, { :value => @event.sub_category, :disabled => true } %></p>
  
<% else %>
  <p><p><%= label_tag :main_category, 'Hauptkategorie' %></p>
  <p id="Hauptkategorie"><%= select( "event", "main_category", @main_event_cats.collect{ |k,v| [k,k] }, {}, :style => 'width:888px') %></p></p>

  <p><p><%= label_tag :sub_category, 'Unterkategorie' %></p>
  <p id="Unterkategorie"><%= select( "event", "sub_category", { 'Wähle Unterkategorie' => '' }, {}, :style => 'width:888px') %></p></p>
<% end %>


<p><p><%= label_tag :description, 'Beschreibung' %></p>
<p id="Beschreibung"><%= e.cktext_area :description, :toolbar => 'Easy', :width => 888, :height => 350 %></p></p>



<p><p><%= label_tag :start_date, 'Start-Datum' %></p>
<p id="Start-Datum"><%= e.text_field :start_date, :size => '130', :pattern => '^\d{4}/\d{2}/\d{2}$', :value => if @event.start_date != nil then @event.start_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p></p>

<p><p><%= label_tag :start_date, 'Ende-Datum' %></p>
<p id="Ende-Datum"><%= e.text_field :end_date, :size => '130', :pattern => '^\d{4}/\d{2}/\d{2}$', :value => if @event.end_date != nil then @event.end_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p></p>

<p><p><%= label_tag :start_date_time, 'Start-Tageszeit' %></p>
<p id="Start-Tageszeit"><%= e.text_field :start_date_time, :size => '130', :pattern => '^\d{2}:\d{2}:\d{2}$', :value => if @event.start_date_time != nil then @event.start_date_time.strftime('%H:%M:%S') else '' end %> Format: HH:MM:SS</p></p>

<p><p><%= label_tag :end_date_time, 'Ende-Tageszeit' %></p>
<p id="Ende-Tageszeit"><%= e.text_field :end_date_time, :size => '130', :pattern => '^\d{2}:\d{2}:\d{2}$', :value => if @event.end_date_time != nil then @event.end_date_time.strftime('%H:%M:%S') else '' end  %> Format: HH:MM:SS</p></p>

<!-- paperclip foto, deactivated because of heroku 
<p><p><%# label_tag :image, 'Bild (optional)' %></p>
<p id="Bild"><%# e.file_field :image %></p></p>
-->

<p><p><%= label_tag :image_url, 'Bild-Url (optional)' %></p>
<p id="Bild"><%= e.text_field :image_url, :size => '130' %></p></p>

<p><p><%= label_tag :costs, 'Kosten (optional)' %></p>
<p id="Kosten"><%= e.text_field :costs, :size => '130' %></p></p>

<% if admin_signed_in? || (user_signed_in? && current_user.federal_user) %>
  <p><p><%= label_tag :federal_highlight, 'Bundes-Highlight' %></p>
  <p id="Bundes-Highlight"><%= e.check_box :federal_highlight  %></p></p>
<% end %>

<p><p><%= label_tag :regional_highlight, 'Regional-Highlight' %></p>
<p id="Regional-Highlight"><%= e.check_box :regional_highlight  %></p></p>


<% if admin_signed_in? %>
  <p><p><%= label_tag :sponsored, 'Gesponsort' %></p>
  <p id="Gesponsort"><%= e.check_box :sponsored %></p></p>
<% end %>


<% days = { 'Tage' => 'nie' } %>
<% for i in 1..31 %>
  <% days['jeden ' + i.to_s + ' Tag'] = i.to_s %>
<% end %>

<p><p><%= label_tag :repeat_dates, 'Intervall (optional)' %></p>
<%= e.hidden_field :repeat_dates, :value => 'nie' %>
<p id="Intervall"><%= select( "repeat", "choice", days, { :selected => 'nie' }, { :name => nil, :style => 'width:888px' }) %></p></p>

<% times = { 'wie oft?' => '0' } %>
<% for i in 1..54 %>
  <% times[i.to_s + ' mal'] = i.to_s %>
<% end %>
<p id="Intervall-Anzahl"><%= select("repeat", "counter", times, { :selected => '1' }, { :name => nil, :style => 'width:888px' }) %></p>

</p>

<p>
  <%= e.submit 'Speichern', :disable_with => 'Bitte warten...', :name => nil, :id => 'submitButton' %>
  <%= button_tag 'Zurück', :type => 'button', :name => nil, :onclick => 'window.location = \'http://event-corp.herokuapp.com/\''.html_safe %>
</p>

<% end %>