<script type="text/javascript">

  $(document).ready(function() {
    
    $("#event_start_date").datepicker({ 'format': 'yyyy/mm/dd' });
    $("#event_end_date").datepicker({ 'format': 'yyyy/mm/dd' });
    
    $("#event_start_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    $("#event_end_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    
    var sub_cats = <%= raw @event_cats.to_json %>
    
    document.getElementById('event_main_category').onchange = function(event){
      for(var sub_cat=0; sub_cat < sub_cats.length; sub_cat++){
        if( sub_cats[sub_cat][event.currentTarget.value] ){
          
          var sub = sub_cats[sub_cat][event.currentTarget.value];
          document.getElementById('event_sub_category').innerHTML = '';
          
          for(var s=0; s < sub.length; s++){
            document.getElementById('event_sub_category').innerHTML += "<option value='"+sub[s]+"'>"+sub[s]+"</option>";
          }
        }
      }
    };
    
    document.getElementById('repeat_choice').onchange = function(event){
      document.getElementById('repeat_counter').style.display = 'inline';
    };
    
    document.getElementById('repeat_counter').onchange = function(event){
      document.getElementById('event_repeat').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
      console.log(document.getElementById('event_repeat').value);
    };
    
  });
  
</script>


<%= form_for(@event, :html => { :multipart => true }) do  |e| %>

<p><%= label_tag :title, 'Titel' %>
<%= e.text_field :title %></p>

<p><%= label_tag :city, 'Ort' %>
<%= e.text_field :city %><p>

<p><%= label_tag :region, 'Region' %>
<%= e.text_field :region %></p>

<p><%= label_tag :province, 'Bundesland' %>
<%= e.text_field :province %></p>


<p><%= label_tag :main_category, 'Hauptkategorie' %>
<%= select( "event", "main_category", @main_event_cats.collect{ |k,v| [k,k] }) %>

<p><%= label_tag :sub_category, 'Unterkategorie' %>
<%= select( "event", "sub_category", 'Unterkategorie' => '') %>

<p><%= label_tag :highlight, 'Highlight' %>
<%= e.check_box :highlight  %></p>

<p><%= label_tag :venue, 'Veranstaltungsort' %>
<%= e.text_field :venue %></p>

<p><%= label_tag :start_date, 'Start-Datum' %>
<%= e.text_field :start_date, :value => if @event.start_date != nil then @event.start_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p>

<p><%= label_tag :start_date, 'Ende-Datum' %>
<%= e.text_field :end_date, :value => if @event.end_date != nil then @event.end_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p>

<p><%= label_tag :start_date_time, 'Start-Tageszeit' %>
<%= e.text_field :start_date_time, :value => if @event.start_date_time != nil then @event.start_date_time.strftime('%H:%M:%S') else '' end %> Format: HH:MM:SS</p>

<p><%= label_tag :end_date_time, 'Ende-Tageszeit' %>
<%= e.text_field :end_date_time, :value => if @event.end_date_time != nil then @event.end_date_time.strftime('%H:%M:%S') else '' end  %> Format: HH:MM:SS</p>

<p><%= label_tag :image, 'Bild' %>
<%= e.file_field :image %></p>

<p><%= label_tag :description, 'Beschreibung' %>
<%= e.text_field :description %></p>

<p><%= label_tag :costs, 'Kosten' %>
<%= e.text_field :costs %></p>

<p><%= label_tag :address, 'Adresse' %>
<%= e.text_field :address %></p>

<p><%= label_tag :venue_url, 'Website-Url' %>
<%= e.text_field :venue_url %></p>

<p><%= label_tag :email, 'E-mail Adresse' %>
<%= e.text_field :email %></p>

<p><%= label_tag :tel_nr, 'Tel. Nr.' %>
<%= e.text_field :tel_nr %></p>

<p><%= label_tag :repeat, 'Wiederholentlich' %>
<%= e.hidden_field :repeat, :value => 'never' %>
<%= select( "repeat", "choice", { 'Nie' => 'never', 'Wöchentlich' => 'weekly', '14-tägig' => 'all_14_days', 'Monatlich' => 'monthly' }, { :selected => 'never' }, { :name => nil }) %>

<% num = { 'wie oft?' => '0' } %>
<% for i in 1...30 %>
  <% num[i.to_s] = i.to_s %>
<% end %>
<%= select("repeat", "counter", num, { :selected => '0' }, { :style => 'display:none', :name => nil }) %>

</p>

<p><%= e.submit 'OK', :name => nil %></p>

<% end %>