<script type="text/javascript">

  $(document).ready(function() {
    
    $("#event_start_date").datepicker({ 'format': 'yyyy/mm/dd' });
    $("#event_end_date").datepicker({ 'format': 'yyyy/mm/dd' });
    
    $("#event_start_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    $("#event_end_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    
    
    function activateAutoSelectUpdate(array, main_id, sub_id){
      
      document.getElementById(main_id).onchange = function(event){
        
        document.getElementById(sub_id).style.display = 'inline';
        
        for(var x=0; x < array.length; x++){
          if( array[x][event.currentTarget.value] ){
            
            var sub = array[x][event.currentTarget.value];
            document.getElementById(sub_id).innerHTML = '';
            
            for(var y=0; y < sub.length; y++){
              var opt = document.createElement('option');
              opt.setAttribute('value', sub[y]);
              opt.innerHTML = sub[y];
                
              document.getElementById(sub_id).appendChild(opt);
            }
          }
        }
      };
    }
    
    // auto-update venues
    var venues = <%= raw @venues.to_json %>
    activateAutoSelectUpdate(venues, 'event_province', 'event_city');
    
    // auto-update subcategories
    var sub_cats = <%= raw @event_cats.to_json %>
    activateAutoSelectUpdate(sub_cats, 'event_main_category', 'event_sub_category');
    
    
    // auto-update how often?
    document.getElementById('repeat_choice').onchange = function(event){
      document.getElementById('repeat_counter').style.display = 'inline';
      document.getElementById('event_repeat_dates').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
    };
    
    document.getElementById('repeat_counter').onchange = function(event){
      document.getElementById('event_repeat_dates').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
    };
    
    document.getElementById('submitButton').onclick = function(event){
      
      var inputs = document.forms[0].children;
      for(var input=0; input < inputs.length; input++){
        
          for(var i=0; i < inputs[input].children.length; i++){
            
            if(inputs[input].children[i].name && inputs[input].children[i].name.search(/event/) == 0){
              
              if(inputs[input].children[i].value.length == 0){
              console.log(inputs[input].children[i])
                if(inputs[input].children[i].id != 'event_image' && inputs[input].children[i].id != 'event_costs' && inputs[input].children[i].id != 'event_venue_url' && inputs[input].children[i].id != 'event_email' && inputs[input].children[i].id != 'event_tel_nr' && inputs[input].children[i].id != 'repeat_choice' && inputs[input].children[i].id != 'repeat_counter'){
                  alert('Achtung das Feld: ' + inputs[input].id + ' ist nicht ausgefüllt!')
                  return false;
                }
              }
            }
          }
        
      }
      
      document.forms[0].submit();
      
    };
    
    document.getElementById('backbutton').onclick = function(event){
      window.location = "http://" + window.host;
    };
    
  });
  
</script>


<%= form_for(@event, :html => { :multipart => true }) do  |e| %>

<p><p><%= label_tag :title, 'Titel' %></p>
<p id="Titel"><%= e.text_field :title %></p></p>

<p><p><%= label_tag :address, 'Adresse' %></p>
<p id="Adresse"><%= e.text_field :address, :pattern => '^[ÄÜÖäüö]?\w+\s?\d+,\s?[ÄÜÖäüö]?\w+,\s?[ÄÜÖäüö]?\w+,\s?[ÄÜÖäüö]?\w+$' %>Format: Street House-number, City, Province, Country</p></p>

<p><p><%= label_tag :region, 'Region' %></p>
<p id="Region"><%= e.text_field :region %></p></p>

<p><p><%= label_tag :province, 'Bundesland' %></p>
<p id="Bundesland"><%= select( "event", "province", @federal_countries.collect{ |k,v| [k,k] }) %></p></p>

<p><p><%= label_tag :city, 'Ort' %></p>
<p id="Ort"><%= select( "event", "city", { 'Wähle Ort' => '' }, {}, { :style => 'display:none' }) %></p></p>



<p><p><%= label_tag :main_category, 'Hauptkategorie' %></p>
<p id="Hauptkategorie"><%= select( "event", "main_category", @main_event_cats.collect{ |k,v| [k,k] }) %></p></p>

<p><p><%= label_tag :sub_category, 'Unterkategorie' %></p>
<p id="Unterkategorie"><%= select( "event", "sub_category", { 'Wähle Unterkategorie' => '' }, {}, { :style => 'display:none' }) %></p></p>



<% if admin_signed_in? && !user_signed_in? %>
  <p><p><%= label_tag :federal_highlight, 'Bundes-Highlight' %></p>
  <p id="Bundes-Highlight"><%= e.check_box :federal_highlight  %></p></p>
<% end %>

<p><p><%= label_tag :regional_highlight, 'Regional-Highlight' %></p>
<p id="Regional-Highlight"><%= e.check_box :regional_highlight  %></p></p>



<% if admin_signed_in? %>
  <p><p><%= label_tag :sponsored, 'Gesponsort' %></p>
  <p id="Gesponsort"><%= e.check_box :sponsored %></p></p>
<% end %>



<p><p><%= label_tag :venue, 'Veranstaltungsort' %></p>
<p id="Veranstaltungsort"><%= e.text_field :venue %></p></p>

<p><p><%= label_tag :start_date, 'Start-Datum' %></p>
<p id="Start-Datum"><%= e.text_field :start_date, :pattern => '^\d{4}/\d{2}/\d{2}$', :value => if @event.start_date != nil then @event.start_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p></p>

<p><p><%= label_tag :start_date, 'Ende-Datum' %></p>
<p id="Ende-Datum"><%= e.text_field :end_date, :pattern => '^\d{4}/\d{2}/\d{2}$', :value => if @event.end_date != nil then @event.end_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p></p>

<p><p><%= label_tag :start_date_time, 'Start-Tageszeit' %></p>
<p id="Start-Tageszeit"><%= e.text_field :start_date_time, :pattern => '^\d{2}:\d{2}:\d{2}$', :value => if @event.start_date_time != nil then @event.start_date_time.strftime('%H:%M:%S') else '' end %> Format: HH:MM:SS</p></p>

<p><p><%= label_tag :end_date_time, 'Ende-Tageszeit' %></p>
<p id="Ende-Tageszeit"><%= e.text_field :end_date_time, :pattern => '^\d{2}:\d{2}:\d{2}$', :value => if @event.end_date_time != nil then @event.end_date_time.strftime('%H:%M:%S') else '' end  %> Format: HH:MM:SS</p></p>

<p><p><%= label_tag :image, 'Bild (optional)' %></p>
<p id="Bild"><%= e.file_field :image %></p></p>

<p><p><%= label_tag :description, 'Beschreibung' %></p>
<p id="Beschreibung"><%# text_area :event, :description, :id => 'description' %></p></p>
<textarea cols="80" id="description" name="description" rows="10">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea><script type="text/javascript">

  CKEDITOR.replace( 'description' );

</script>

<p><p><%= label_tag :costs, 'Kosten (optional)' %></p>
<p id="Kosten"><%= e.text_field :costs %></p></p>

<p><p><%= label_tag :venue_url, 'Website-Url (optional)' %></p>
<p id="Website-Url"><%= e.text_field :venue_url %></p></p>

<p><p><%= label_tag :email, 'E-mail Adresse (optional)' %></p>
<%= e.text_field :email %></p></p>

<p><%= label_tag :tel_nr, 'Tel. Nr. (optional)' %>
<p id="Tel. Nr."><%= e.text_field :tel_nr %></p>

<% days = { 'Tage' => 'nie' } %>
<% for i in 1..31 %>
  <% days['jeden ' + i.to_s + ' Tag'] = i.to_s %>
<% end %>

<p><p><%= label_tag :repeat_dates, 'Intervall (optional)' %></p>
<%= e.hidden_field :repeat_dates, :value => 'nie' %>
<p id="Intervall"><%= select( "repeat", "choice", days, { :selected => 'nie' }, { :name => nil }) %></p></p>

<% times = { 'wie oft?' => '0' } %>
<% for i in 1..54 %>
  <% times[i.to_s + ' mal'] = i.to_s %>
<% end %>
<p id="Intervall-Anzahl"><%= select("repeat", "counter", times, { :selected => '1' }, { :style => 'display:none', :name => nil }) %></p>

</p>

<p>
  <%= e.submit 'Speichern', :name => nil, :id => 'submitButton' %>
  <%= button_tag 'Zurück', :id => 'backbutton' %>
</p>

<% end %>