
<%= form_for(@event) do |e| %>

<p><%= label_tag :title, 'Titel' %>
<%= e.text_field :title %></p>

<p><%= label_tag :city, 'Ort' %>
<%= e.text_field :city %><p>

<p><%= label_tag :region, 'Region' %>
<%= e.text_field :region %></p>

<p><%= label_tag :province, 'Bundesland' %>
<%= e.text_field :province %></p>

<p><%= label_tag :main_category, 'Hauptkategorie' %>
<%= e.text_field :main_category %></p>

<p><%= label_tag :sub_category, 'Unterkategorie' %>
<%= e.text_field :sub_category %></p>

<p><%= label_tag :highlight, 'Highlight' %>
<%= e.check_box :highlight  %></p>

<p><%= label_tag :venue, 'Veranstaltungsort' %>
<%= e.text_field :venue %></p>

<p><%= label_tag :start_date, 'Start-Datum' %>
<%= e.text_field :start_date, :value => if @event.start_date != nil then @event.start_date.strftime('%Y:%m:%d') else '' end %></p>

<p><%= label_tag :start_date, 'Ende-Datum' %>
<%= e.text_field :end_date, :value => if @event.end_date != nil then @event.end_date.strftime('%Y:%m:%d') else '' end %></p>

<p><%= label_tag :start_date_time, 'Start-Tageszeit' %>
<%= e.text_field :start_date_time, :value => if @event.start_date_time != nil then @event.start_date_time.strftime('%H:%M:%S') else '' end %></p>

<p><%= label_tag :end_date_time, 'Ende-Tageszeit' %>
<%= e.text_field :end_date_time, :value => if @event.end_date_time != nil then @event.end_date_time.strftime('%H:%M:%S') else '' end  %></p>

<p><%= label_tag :photo_url, 'Bild-Url' %>
<%= e.text_field :photo_url %></p>

<p><%= label_tag :description, 'Beschreibung' %>
<%= e.text_field :description %></p>

<p><%= label_tag :costs, 'Kosten' %>
<%= e.text_field :costs %></p>

<p><%= label_tag :address, 'Adresse' %>
<%= e.text_field :address %></p>

<p><%= label_tag :venue_url, 'Website-Url' %>
<%= e.text_field :venue_url %></p>

<p><%= label_tag :email, 'E-mail Adresse' %>
<%= e.text_field :email %></p>

<p><%= label_tag :tel_nr, 'Tel. Nr.' %>
<%= e.text_field :tel_nr %></p>

<p><%= e.submit 'OK', :name => nil %></p>

<% end %>