<script type="text/javascript">

  $(document).ready(function() {
    
    $("#event_start_date").datepicker({ 'format': 'yyyy/mm/dd' });
    $("#event_end_date").datepicker({ 'format': 'yyyy/mm/dd' });
    
    $("#event_start_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    $("#event_end_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    
    
    function activateAutoSelectUpdate(array, main_id, sub_id){
      
      document.getElementById(main_id).onchange = function(event){
        
        document.getElementById(sub_id).style.display = 'inline';
        
        for(var x=0; x < array.length; x++){
          if( array[x][event.currentTarget.value] ){
            
            var sub = array[x][event.currentTarget.value];
            document.getElementById(sub_id).innerHTML = '';
            
            for(var y=0; y < sub.length; y++){
              var opt = document.createElement('option');
              opt.setAttribute('value', sub[y]);
              opt.innerHTML = sub[y];
                
              document.getElementById(sub_id).appendChild(opt);
            }
          }
        }
      };
    }
    
    // auto-update venues
    var venues = <%= raw @venues.to_json %>
    activateAutoSelectUpdate(venues, 'event_province', 'event_city');
    
    // auto-update subcategories
    var sub_cats = <%= raw @event_cats.to_json %>
    activateAutoSelectUpdate(sub_cats, 'event_main_category', 'event_sub_category');
    
    
    // auto-update how often?
    document.getElementById('repeat_choice').onchange = function(event){
      document.getElementById('repeat_counter').style.display = 'inline';
      document.getElementById('event_repeat_dates').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
    };
    
    document.getElementById('repeat_counter').onchange = function(event){
      document.getElementById('event_repeat_dates').value = document.getElementById('repeat_choice').value + ' ' + event.currentTarget.value;
    };
    
    document.getElementById('submitButton').onclick = function(event){
      
      var inputs = document.forms[0].children;
      for(var input=0; input < inputs.length; input++){
        if(inputs[input].nodeName == 'P'){
          
          for(var i=0; i < inputs[input].children.length; i++){
            if(inputs[input].children[i].name && inputs[input].children[i].name.search(/event/) == 0)
              if(inputs[input].children[i].value.length == 0)
                if(inputs[input].children[i].id != 'event_image' && inputs[input].children[i].id != 'event_costs' && inputs[input].children[i].id != 'event_venue_url' && inputs[input].children[i].id != 'event_email' && inputs[input].children[i].id != 'event_tel_nr' && inputs[input].children[i].id != 'repeat_choice' && inputs[input].children[i].id != 'repeat_counter'){
                  alert('Achtung das Feld: ' + inputs[input].children[0].innerHTML + ' ist nicht ausgefüllt!')
                  return false;
              }
          }
        }
      }
      
      document.forms[0].submit();
      
    };
    
    setTimeout(function(){ console.log(); },1000);
  });
  
</script>


<%= form_for(@event, :html => { :multipart => true }) do  |e| %>

<p><%= label_tag :title, 'Titel' %>
<%= e.text_field :title %></p>

<p><%= label_tag :region, 'Region' %>
<%= e.text_field :region %></p>

<p><%= label_tag :province, 'Bundesland' %>
<%= select( "event", "province", @federal_countries.collect{ |k,v| [k,k] }) %></p>

<p><%= label_tag :city, 'Ort' %>
<%= select( "event", "city", { 'Wähle Ort' => '' }, {}, { :style => 'display:none' }) %><p>

<p><%= label_tag :main_category, 'Hauptkategorie' %>
<%= select( "event", "main_category", @main_event_cats.collect{ |k,v| [k,k] }) %>

<p><%= label_tag :sub_category, 'Unterkategorie' %>
<%= select( "event", "sub_category", { 'Wähle Unterkategorie' => '' }, {}, { :style => 'display:none' }) %>

<p><%= label_tag :federal_highlight, 'Bundes-Highlight' %>
<%= e.check_box :federal_highlight  %></p>

<p><%= label_tag :regional_highlight, 'Regional-Highlight' %>
<%= e.check_box :regional_highlight  %></p>

<h3>Darf nur Admin</h3>
<p><%= label_tag :sponsored, 'Gesponsort' %>
<%= e.check_box :sponsored  %></p>

<p><%= label_tag :venue, 'Veranstaltungsort' %>
<%= e.text_field :venue %></p>

<p><%= label_tag :start_date, 'Start-Datum' %>
<%= e.text_field :start_date, :value => if @event.start_date != nil then @event.start_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p>

<p><%= label_tag :start_date, 'Ende-Datum' %>
<%= e.text_field :end_date, :value => if @event.end_date != nil then @event.end_date.strftime('%Y/%m/%d') else '' end %> Format: YYYY/MM/DD</p>

<p><%= label_tag :start_date_time, 'Start-Tageszeit' %>
<%= e.text_field :start_date_time, :value => if @event.start_date_time != nil then @event.start_date_time.strftime('%H:%M:%S') else '' end %> Format: HH:MM:SS</p>

<p><%= label_tag :end_date_time, 'Ende-Tageszeit' %>
<%= e.text_field :end_date_time, :value => if @event.end_date_time != nil then @event.end_date_time.strftime('%H:%M:%S') else '' end  %> Format: HH:MM:SS</p>

<p><%= label_tag :image, 'Bild (optional)' %>
<%= e.file_field :image %></p>

<p><%= label_tag :description, 'Beschreibung' %>
<%= e.text_field :description %></p>

<p><%= label_tag :costs, 'Kosten (optional)' %>
<%= e.text_field :costs %></p>

<p><%= label_tag :address, 'Adresse' %>
<%= e.text_field :address %></p>

<p><%= label_tag :venue_url, 'Website-Url (optional)' %>
<%= e.text_field :venue_url %></p>

<p><%= label_tag :email, 'E-mail Adresse (optional)' %>
<%= e.text_field :email %></p>

<p><%= label_tag :tel_nr, 'Tel. Nr. (optional)' %>
<%= e.text_field :tel_nr %></p>

<% days = { 'Tage' => 'nie' } %>
<% for i in 1..31 %>
  <% days['jeden ' + i.to_s + ' Tag'] = i.to_s %>
<% end %>

<p><%= label_tag :repeat_dates, 'Intervall (optional)' %>
<%= e.hidden_field :repeat_dates, :value => 'nie' %>
<%= select( "repeat", "choice", days, { :selected => 'nie' }, { :name => nil }) %>

<% times = { 'wie oft?' => '0' } %>
<% for i in 1..54 %>
  <% times[i.to_s + ' mal'] = i.to_s %>
<% end %>
<%= select("repeat", "counter", times, { :selected => '1' }, { :style => 'display:none', :name => nil }) %>

</p>

<p><%= e.submit 'OK', :name => nil, :id => 'submitButton' %></p>

<% end %>