<%= link_to 'Home', root_path %>

<h3>Sende uns eine Mail</h3>
<%= form_tag send_contact_mail_path, :method => :get do %>

  <p><p><%= label_tag 'Betreff' %></p>
  <p><%= text_field_tag :subject, '', { :size => '130', :pattern => '\w+' } %></p></p>
  
  <p><p><%= label_tag 'Nachricht' %></p>
  <p><%= cktext_area_tag :body, '', :toolbar => 'Easy', :width => 888, :height => 270 %></p></p>
  
  <p><%= submit_tag 'abschicken', { :name => nil, :onclick => 'if(document.forms[0].subject.value.length > 0 && CKEDITOR.instances[\'body\'].getData().length > 0){document.forms[0].submit(); }else{ alert(\'Bitte Betreff und Nachricht-Textfelder ausfüllen!\');return false;}'.html_safe } %>
  <%= button_tag 'Zurück', :type => 'button', :name => nil, :onclick => 'window.location = \'http://event-corp.herokuapp.com/\''.html_safe %></p>
  
<% end %>