 
<p><%= link_to 'Home', root_path %></p>
<p><%# render 'layouts/user_login_form' %></p>

<h1>Veranstaltungen</h1>

<%= render 'layouts/navibar', :all_venues => @all_venues, :all_cats => @all_event_cats %>

<%= render 'layouts/user_panel' %>

<div style="margin-top:70px; width:500px; float:left">
  <%= render 'layouts/event_list', :events => @events, :federal_state_clicked => @federal_state_clicked, :region_clicked => @region_clicked %>
  <p><%= link_to 'Alle als PDF ansehen', pdf_events_path( get_event_ids(@events) ) %></p>
<div>

<div style="position:absolute; top:80%; left:850px; width:300px">
  
  <%= render 'layouts/calender', :entries => @events %>
  
  <table>
    <tr><td><%= link_to 'Alle Veranstaltungen', root_path %></td></tr>
    <tr><td><%= link_to 'Alle Bundes-Highlights', event_highlight_path('federal', 'true') %></td></tr>
    <tr><td><%= link_to 'Alle Regional-Highlights', event_highlight_path('regional', 'true') %></td></tr>
    <tr><td><%= link_to 'Umfeldsuche', search_surrounding_events_path %></td></tr>
    <tr><td><%= link_to_if current_user || current_admin, 'Verstanstaltung hinzufügen', new_event_path %></td></tr>
    <tr><td><%= link_to_if current_admin, 'User hinzufügen', new_user_registration_path %></td></tr>
    <tr><td><%= link_to_if !current_admin, 'Admin Login', new_admin_session_path %></tr>
    <tr><td><%= link_to_if !current_user && !current_admin, 'Login', new_user_session_path %></tr>
    
    <tr><td><%= link_to 'RSS Feed', event_feed_path( get_event_ids(@events) ) << '.rss' %></td></tr>
    <tr><td><%= link_to 'Kontakt', contact_path %></td></tr>
    
  </table>
  
</div>