<h1>Event-Kalender</h1>

<p>Hier login</p>

<h3>Suche</h3>
<%= render 'layouts/search_form' %>
<%= render 'layouts/csv_upload_form' %>

<table>
  <tr><td><%= link_to 'Alle Veranstaltungen', events_path %></td></tr>
  <tr><td><%= link_to 'Highlights', event_highlight_path('true') %></td></tr>
  <tr><td><%= link_to 'Verstanstaltung hinzufügen', new_event_path %></td></tr>
</table>

<%= link_to 'RSS Feed', event_feed_path( get_event_ids(@events) ) << '.rss' %>
<%= render 'layouts/event_list', :events => @events %>


<%= link_to 'Kontakt', send_contact_mail_path %>
