
<!-- js-plugin taken out -->

<div id="section-divider">
    <ol>
      <% num = 0 %>
      <% for event in events %>
        
        <% if (num % 10) == 0 %>
          <li>
          <h2><%= ('ab ' << num.to_s << ' bis ' << (num+9).to_s) %></h2>
          <div style="overflow-y:auto">
        <% end %>
        
        <% num += 1 %>
            <p>
              <h2><%= event.title %></h2>
              <div>
                <p>
                  <%= render 'layouts/formatted_dates', :event => event, :max_num => 3 %>
                </p>
                <% if carousel_activated %>
                  <p><%= event.main_category %></p>
                <% else %>
                  <p><%= event.main_category << '/' << event.sub_category %></p>
                <% end %>
                <!--<p><%# image_tag event.image.url(:thumb) %></p>-->
                <% if event.image_url && event.image_url.length %>
                  <p><img src="<%= event.image_url %>" width="300" height="300" /></p>
                <% end %>
                <p><%= raw truncate(event.description, :length => 300) %></p>
                <p><%= link_to 'Zeigen', event_path(event.id) %></td>
                <%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %>
                <%= link_to_if (current_user && event.user && current_user.id == event.user.id) || (current_user && current_user.federal_user && event.user && event.user.regional_user) || current_admin, 'Bearbeiten', edit_event_path(event.id) %>
                <%= link_to_if (current_user && event.user && current_user.id == event.user.id) || (current_user && current_user.federal_user && event.user && event.user.regional_user) || current_admin, 'Löschen', event_path(event.id), :method => :delete %></p>
              </div>
            </p>
        
        <% if (num % 10) == 0 %>
          </div>
          </li>
        <% end %>
        
      <% end %>
      
      <% if (num % 10) != 0 %>
        </div>
        </li>
      <% end %>
      
    </ol>
</div>