<ul class="example2">				
  <% events.each do |event| %>
    <li>
      <b><%= event.title %></b>
      <p><%= raw truncate(event.description, :length => 40) %></p>
      <p><%= image_tag event.image.url(:thumb) %></p>
      <p><%= link_to 'Zeigen', event_path(event.id) %></p>
      <p><%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %></p>
      <p><%= link_to_if (current_user && event.user && event.user && current_user.id == event.user.id) || current_admin, 'Bearbeiten', edit_event_path(event.id) %></p>
      <p><%= link_to_if (current_user && event.user && event.user && current_user.id == event.user.id) || current_admin, 'Löschen', event_path(event.id), :method => :delete %></p></p>
    </li>
  <% end %>
</ul>

<span class="prev">prev</span>
<span class="next">next</span>