
<div id="<%= classname %>">
  <h2><%= title %></h2>
  
  <ul class="<%= classname_carousel %>">				
    <% events.each do |event| %>
      <li>
        <% if event.image_url && event.image_url.length %>
          <img src="<%= event.image_url %>" width="270px" height="180px" />
        <% end %>
        
        <span class="feat_date"><%= event.start_date.strftime('%d.%b %Y') %></span>
        <span class="ch_h"><%= event.title %></span>
        <h6><%= event.main_category %> - <%= event.sub_category %></h6>
   			<p><%= raw truncate(event.description, :length => 230) %></p>
        <p><%= link_to 'Weiterlesen', event_path(event.id) %></p>
        <div class="ch_act"><p><%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %>
        
          <% if (current_user && event.user && current_user.id == event.user.id) || (current_user && current_user.federal_user && event.user && event.user.regional_user) || current_admin %>
            <%= link_to 'Bearbeiten', edit_event_path(event.id) %>
            <%= link_to 'Löschen', event_path(event.id), :method => :delete %></p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <span class="<%= classname_prev_button %>">prev</span>
  <span class="<%= classname_next_button %>">next</span>
</div>