<div>
  <% highlight_events = [] %>
  <% sponsored_events = [] %>
  <% all_events = [] %>
  
  <% for event in events %>
    
    <% if federal_state_clicked && !region_clicked && event.federal_highlight %>
      <% highlight_events << event %>
    
    <% elsif region_clicked && event.regional_highlight %>
      <% highlight_events << event %>
    
    <% elsif !federal_state_clicked && !region_clicked %>
      <% if event.federal_highlight || event.regional_highlight %>
        <% highlight_events << event %>
      <% end %>
      
    <% elsif event.sponsored %>
      <% sponsored_events << event %>
    <% end %>
    
    <% all_events << event %>
    
  <% end %>
  
  <% if !highlight_events.empty? %>
    <h3>Highlight Veranstaltungen</h3>
    <ul class="example2">				
      <% highlight_events.each do |e| %>
        <li>
          <b><%= e.title %></b>
          <p><%= raw truncate(e.description, :length => 40) %></p>
          <p><%= image_tag event.image.url(:thumb) %></p>
          <p><%= link_to 'Zeigen', event_path(e.id) %></p>
          <p><%= link_to 'Als PDF anzeigen', pdf_event_path(e.id) %></p>
          <p><%= link_to_if (current_user && event.user && e.user && current_user.id == e.user.id) || current_admin, 'Bearbeiten', edit_event_path(e.id) %></p>
          <p><%= link_to_if (current_user && event.user && e.user && current_user.id == e.user.id) || current_admin, 'Löschen', event_path(e.id), :method => :delete %></p></p>
        </li>
      <% end %>
    </ul>
    
    <span class="prev">prev</span>
    <span class="next">next</span>
  <% end %>
  
  <br />
  <br />
  
  <% if !sponsored_events.empty? %>
    <div id="sponsored_events">
      <h3>Gesponsorte Veranstaltungen</h3>
      <%# render "layouts/carousel", :tag_id => 'carousel2', :events => sponsored_events %>
    </div>
  <% end %>
  
  <br />
  <br />
  
  <%= render 'layouts/all_events_list', :events => all_events %>
  
</div>

<script type="text/javascript">

  $(document).ready(function() {
    
    
    $("ul.example2").simplecarousel({
        next: $('.next'),
        prev: $('.prev'),
        slidespeed: 700,
        auto: 5000,
        width: 250,
        height: 400,
        fade: 400,
        pagination: true,
        next: $('.next'),
        prev: $('.prev')
    });

    /*
    $('#carousel').movingBoxes({
      startPanel   : 1,      // start with this panel
      reducedSize  : 0.8,    // non-current panel size: 80% of panel size
      buildNav     : true,   // if true, navigation links will be added
      //navFormatter : function(index, panel){ return panel.find('h2 span').text(); } // function which gets nav text from span inside the panel header

      // width and panelWidth options removed in v2.2.2, but still backwards compatible
      // width        : 500,    // overall width of movingBoxes (not including navigation arrows)
      // panelWidth   : 0.7,    // current panel width

    });
    
    $('#carousel2').movingBoxes({
      startPanel   : 1,      // start with this panel
      reducedSize  : 0.8,    // non-current panel size: 80% of panel size
      buildNav     : true,   // if true, navigation links will be added
    });*/
    
    
    
    // tabbar
    var $tabs = $('#tabs').tabs();
	
    $(".ui-tabs-panel").each(function(i){

      var totalSize = $(".ui-tabs-panel").size() - 1;

      if (i != totalSize) {
        next = i + 2;
        $(this).append("<a href='#' class='next-tab mover' rel='" + next + "0'>Next Page &#187;</a>");
      }
  
      if (i != 0) {
        prev = i;
        $(this).append("<a href='#' class='prev-tab mover' rel='" + prev + "0'>&#171; Prev Page</a>");
      }
    
    });

    $('.next-tab, .prev-tab').click(function() { 
      $tabs.tabs('select', $(this).attr("rel"));
      return false;
    });
    
    
    // show hits altogether
    var originalDomain = "http://" + window.location.host + '/';
    if( window.location.href.length > originalDomain.length )
      $('#main_notifier').html("<%= @events.count.to_s + ' Treffer'%>");
    
  });
  
</script>

