<div>
  <% highlight_events = [] %>
  <% sponsored_events = [] %>
  
  <% for event in events %>
    <% if event.highlight %>
      <% highlight_events << event %>
    <% elsif event.sponsored %>
      <% sponsored_events << event %>
    <% end %>
  <% end %>
  
  <% if !highlight_events.empty? %>
    <h3>Highlight Veranstaltungen</h3>
    <%= render "layouts/carousel", :tag_id => 'carousel', :events => highlight_events %>
  <% end %>
  
  <br />
  <br />
  
  <% if !sponsored_events.empty? %>
    <div id="sponsored_events">
      <h3>Gesponsorte Veranstaltungen</h3>
      <%= render "layouts/carousel", :tag_id => 'carousel2', :events => sponsored_events %>
    </div>
  <% end %>
  
  <br />
  <br />
  
  <div id="page-wrap">
		
		<div id="tabs">
    
      <ul>
        <% num = 0 %>
        <% (events.count/10).downto(0) do %>
          <li><a href="#fragment-<%= num += 10 %>"><%= num %></a></li>
        <% end %>
      </ul>
      
      <% num = 10 %>
      <% newTab = false %>
      <% for event in events %>
        
        <% if (num % 10) == 0 %>
          <% newTab = true %>
          <% if num >= 20 %>
            <div id="fragment-<%= num %>" class="ui-tabs-panel ui-tabs-hide">
          <% else %>
            <div id="fragment-<%= num %>" class="ui-tabs-panel">
          <% end %>
        <% end %>
        
              <div>
                <h2><%= event.title %></h2>
                <p>
                  <%= render 'layouts/formatted_dates', :event => event, :max_num => 3 %>
                </p>
                <% if event.main_category && event.sub_category %>
                  <p><%= event.main_category << '/' << event.sub_category %></p>
                <% end %>
                <% if event.image_content_type %>
                  <%= image_tag event.image.url(:thumb), :style => 'float:left' %>
                <% end %>
                <p><%= event.description %></p>
                <p><%= link_to 'Zeigen', event_path(event.id) %></td>
                <%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %>
                <%= link_to 'Bearbeiten', edit_event_path(event.id) %>
                <%= link_to 'Löschen', event_path(event.id), :method => :delete %></p>
              </div>
          
          <% if newTab && ((num + 1) % 10) == 0 %>
            <% newTab = false %>
            </div> 
          <% end %>
          
          <% num += 1 %>
      <% end %>
      </div>
    </div>
  </div>
  
</div>

<script type="text/javascript">

  $(document).ready(function() {
    
    $('#carousel').movingBoxes({
      startPanel   : 1,      // start with this panel
      reducedSize  : 0.8,    // non-current panel size: 80% of panel size
      buildNav     : true,   // if true, navigation links will be added
      //navFormatter : function(index, panel){ return panel.find('h2 span').text(); } // function which gets nav text from span inside the panel header

      // width and panelWidth options removed in v2.2.2, but still backwards compatible
      // width        : 500,    // overall width of movingBoxes (not including navigation arrows)
      // panelWidth   : 0.7,    // current panel width

    });
    
    $('#carousel2').movingBoxes({
      startPanel   : 1,      // start with this panel
      reducedSize  : 0.8,    // non-current panel size: 80% of panel size
      buildNav     : true,   // if true, navigation links will be added
    });
    
    
    
    // tabbar
    var $tabs = $('#tabs').tabs();
	
    $(".ui-tabs-panel").each(function(i){

      var totalSize = $(".ui-tabs-panel").size() - 1;

      if (i != totalSize) {
        next = i + 2;
        $(this).append("<a href='#' class='next-tab mover' rel='" + next + "0'>Next Page &#187;</a>");
      }
  
      if (i != 0) {
        prev = i;
        $(this).append("<a href='#' class='prev-tab mover' rel='" + prev + "0'>&#171; Prev Page</a>");
      }
    
    });

    $('.next-tab, .prev-tab').click(function() { 
      $tabs.tabs('select', $(this).attr("rel"));
      return false;
    });
    
    
    // show hits altogether
    var originalDomain = "http://" + window.location.host + '/';
    if( window.location.href.length > originalDomain.length )
      $('#main_notifier').html("<%= @events.count.to_s + ' Treffer'%>");
      
  });
  
</script>

