<div>
  <% highlight_events = [] %>
  <% sponsored_events = [] %>
  <% all_events = [] %>
  
  <% for event in events %>
    
    <% if event.sponsored %>
      <% sponsored_events << event %>
    
    <% elsif federal_state_clicked && !region_clicked && event.federal_highlight %>
      <% highlight_events << event %>
    
    <% elsif region_clicked && event.regional_highlight %>
      <% highlight_events << event %>
    
    <% elsif !federal_state_clicked && !region_clicked %>
      <% if event.federal_highlight || event.regional_highlight %>
        <% highlight_events << event %>
      <% end %>
      
    <% end %>
    
    <% all_events << event %>
    
  <% end %>
  
  <% if !highlight_events.empty? %>
    <%= render 'layouts/carousel', :events => highlight_events, :title => 'Top Veranstaltungen', :classname => 'car_high' %>
  <% end %>
  
  <% if !sponsored_events.empty? %>
    <%= render 'layouts/carousel', :events => sponsored_events, :title => 'Empfohlene Veranstaltungen', :classname => 'carousel2' %>
  <% end %>
 
</div>

<% if !all_events.empty? %>

    <div id="section-divider">
      
      <ul class="eventlistener">
        <% all_events.each do |event| %>
        
          <li class="event">
            <div class="event_h"><%= event.title %><span class="feat_date"><%= event.start_date %></span></div>
                                
            <% if event.image_url && event.image_url.length %>
              <img src="<%= event.image_url %>" width="270px" height="180px" />
            <% end %>
            <h6><%= event.main_category %> - <%= event.sub_category %></h6>
            <p><%= raw truncate(event.description, :length => 230) %></p>
            <p><%= link_to 'Weiterlesen', event_path(event.id) %></p>
            <div class="ch_act"><p><%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %></p>
            
            <% if (current_user && event.user && current_user.id == event.user.id) || (current_user && current_user.federal_user && event.user && event.user.regional_user) || current_admin %>
              <%= link_to 'Bearbeiten', edit_event_path(event.id) %>
              <%= link_to 'Löschen', event_path(event.id), :method => :delete %></p>
            <% end %>
          </li>
          
        <% end %>
      </ul>
    </div>

  <%# render 'layouts/all_events_list', :events => all_events, :carousel_activated => if !highlight_events.empty? || !sponsored_events.empty? then true else false end %>
<% end %>


<script type="text/javascript">

  $(document).ready(function() {
    
    $("ul.carousel").simplecarousel({
        next: $('.next'),
        prev: $('.prev'),
        slidespeed: 700,
        auto: 5000,
        fade: 400,
        pagination: true,
        next: $('.next'),
        prev: $('.prev')
    });
    
    $("ul.carousel2").simplecarousel({
        next: $('.next'),
        prev: $('.prev'),
        slidespeed: 700,
        auto: 5000,
        fade: 400,
        pagination: true,
        next: $('.next'),
        prev: $('.prev')
    });
    
    //$("#section-divider").liteAccordion();
    
    // show hits altogether
    var originalDomain = "http://" + window.location.host + '/';
    if( window.location.href.length > originalDomain.length )
      $('#main_notifier').html("<%= @events.count.to_s + ' Treffer'%>");
    
  });
  
</script>

</div>
