<h2>Veranstaltungen:</h2>
<div>
  <% all_highlight_events = [] %>
  <% all__non_highlight_events = [] %>
  
  <% for event in events %>
    <% if event.highlight %>
      <% all_highlight_events << event %>
    <% else %>
      <% all__non_highlight_events << event %>
    <% end %>
  <% end %>
  
  <% if !all_highlight_events.empty? %>
    <div id='coin-slider'>
      <% for event in all_highlight_events %>
          
        <a href="<%= event_path(event.id) %>">
          <img src='<%= event.photo_url %>' >
          <span>
              <b><%= event.title %></b>
              <b><%= event.description %></b>
          </span>
        </a>
         
      <% end %>
    </div>
  <% end %>
  
  <% for event in all__non_highlight_events %>
      <div>
        <h2><%= event.title %></h2>
        <p style="float:left; margin-left:10px"><%= event.main_category << '/' << event.sub_category %></p>
        <img src="<%= event.photo_url %>" width="50" height="50" style="float:left; margin-left:10px" />
        <p><%= event.description %></p>
        <b style="float:right; margin-right:10px"><%= event.start_date.to_s << ' '<< event.start_date_time.strftime('%H:%M:%S') %></b>
        <p><%= link_to 'Zeigen', event_path(event.id) %></td>
        <%= link_to 'Als PDF anzeigen', pdf_event_path(event.id) %>
        <%= link_to 'Bearbeiten', edit_event_path(event.id) %>
        <%= link_to 'Löschen', event_path(event.id), :method => :delete %></p>
        </tr>
      </div>
  <% end %>
</div>
