<div style="width:100%">

  <div style="width:150px; float:left">
    <% if current_user %>
      <h3>User</h3>
      <%= current_user.email %>
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% elsif current_admin %>
      <h3>Als Admin eingeloggt</h3>
      <%= link_to 'Logout', destroy_admin_session_path, :method => :delete %>
    <% end %>
  </div>

  <div id="main_notifier" style="width: 250px; float: right; display: none; font-size: 20px; font-weight: bold;">
    <%= notice %>
    <%= alert %>
  </div>

</div>