<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= auto_discovery_link_tag(:rss, {:controller => "Events", :action => "get_all_rss_feed"}) %>
  
  <title>EventApp</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lt IE 9]>
  <link  type="text/css"  href="http://chriscoyier.github.com/MovingBoxes/css/movingboxes-ie.css"  rel="stylesheet" media="screen" />
  <![endif]-->

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDq8dsh-CgT1r0D4o96H9tEYbIakrGMcnI&sensor=true"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/src/infobox_packed.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="main_notifier"><p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p></div>

<%= yield %>

</body>
<script type="text/javascript">

  $(document).ready(function() {
    
    $('#main_notifier').fadeOut(8000);
    
  });
  
</script>
</html>
