<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= auto_discovery_link_tag(:rss, {:controller => "Events", :action => "get_all_rss_feed"}) %>
  
  <title>EventApp</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDq8dsh-CgT1r0D4o96H9tEYbIakrGMcnI&sensor=true"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.5/src/infobox_packed.js" type="text/javascript"></script>
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="main_notifier"><%= notice %></div>

<%= yield %>

</body>
<script>
  
  $('#main_notifier').fadeOut(8000);
  
  $(document).ready(function() {
    
    $('#coin-slider').coinslider({ width: 500, effect: 'random', navigation: true, delay: 5000 });
     
    $("#event_start_date").datepicker({ 'format': 'yyyy/mm/dd' });
    $("#event_end_date").datepicker({ 'format': 'yyyy/mm/dd' });
    
    $("#event_start_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    $("#event_end_date_time").timepicker({ 'timeFormat': 'H:i:s' });
    
  });
</script>
</html>
